<header class="ae-container-fluid ae-container-fluid--full rk-header ">
  <h1 class="rk-logo"><a routerLink="inici">AppAngular<sup>tm</sup></a></h1>
    <nav class="rk-navigation">
    <ul class="rk-menu">
    <li routerLinkActive="active" class="rk-menu__item">
    <a routerLink="inici" class="rk-menu__link">Inici</a>
    </li>
    <li routerLinkActive="active" class="rk-menu__item">
    <a routerLink="about" class="rk-menu__link">About</a>
    </li>
    </ul>
    <form class="rk-search">
    <input type="text" placeholder="Search" id="urku-search"
    class="rk-search-field">
    <label for="urku-search">
    <svg>
    <use xlink:href="assets/img/symbols.svg#icon-search"></use>
    </svg>
    </label>
    </form>
    </nav>
    </div>
</header>